E:/AIDD/Tian/Tian_lab/Tian_lab/GLMCyp/GLMCyp-Predictor/temp_data/protein_features.pkl filter=lfs diff=lfs merge=lfs -text
E:/AIDD/Tian/Tian_lab/Tian_lab/GLMCyp/GLMCyp-Predictor/saved_model/Predict_model_1.pt filter=lfs diff=lfs merge=lfs -text
saved_model/Predict_model_1.pt filter=lfs diff=lfs merge=lfs -text
